<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        Hello there! I'm Japit, and I'm presently pursuing my studies with a strong focus on video games and music. 
        Playing instruments like the guitar, piano, and tabla is not just a pastime for me but a significant way to channel my creativity.
        Securing a position in web development at a renowned company post-graduation is a key ambition of mine. I'm particularly 
        fascinated by web design, especially in crafting visually appealing layouts. At the moment, I'm taking the web programming course 
        (BTI325) at Seneca College, which aligns perfectly with my goals. This course excites me as it offers the opportunity to acquire 
        new techniques and skills essential for creating top-notch web pages.I'm confident that my eclectic mix of interests in music, 
        gaming, and web development will greatly benefit my future career, enabling me to contribute a unique and comprehensive perspective
         to the technology sector.
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates about my life.</p>
    </aside>
  </div>
</div>